.goals {
    width: 100%;
}

.goals_bar{
    border: solid;
    border-radius: 10px;
    border-color: #24262a;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    background-color: #24262a;
    color: #84d1de;

    align-content: center;
    max-height: 50px;
}

.goals_add{
    width: 51px;
    height: 51px;

    border-radius: 30px;
}

#goals_bar_text {
    margin: 0px;
    font-size: 1.5em;
    font-weight: bold;
}

.goals_add_goal{
    width: 700px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    background-color: #24262a;

    border: solid;
    border-radius: 10px;
    border-color: #fff;

    margin: 15px 0px;

    background-color: #84d1de;
    color: #24262a;

    padding: 5px;
}

.goals_add_goal_header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.goals_add_goal_text{
    font-weight: bold;
    margin: 0px;
}

.goals_add_goal_button{
    width: 100%;
    padding: 5px;
    background-color: #24262a;
    color: #84d1de;
    margin: 0px;
}

/*add Menu desinge*/
.goals_add_menue{
    display: grid;
    background-color: #24262a;
    color: #84d1de;
    padding: 10px;

    border: solid;
    border-radius: 20px;
    border-color: #24262a;
    justify-content: center;
}
.goals_add_input{
    width: 100%;
    padding: 5px;
    background-color: #24262a;
    color: #84d1de;
    margin: 5px 0px;
    font-size: 1em;

    border: solid;
    border-radius: 10px;
    border-color: #84d1de;
}

.goals_add_goal_close{
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #24262a;
    color: #84d1de;
    margin: 0px;
}

.error {
    margin: 2px;
    color: red;
    height: 25px;
    animation: alternate;
    text-align: center;
    font-weight: bold;
}

.goals_list {
    border: solid;
    border-radius: 10px;
    border-color: #24262a;

    padding-right: 10px;

    background-color: #24262a;
    color: #84d1de;
}

.goals_404_text {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.goals_404_img {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.goals_list_element {
    border: solid;
    border-radius: 10px;
    border-color: #84d1de;

    margin: 15px 0px;

    background-color: #84d1de;
    color: #24262a;

    padding: 10px;
}

.goals_name {
    font-weight: bold;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goals_delete{
    width: 50px;
    padding: 0px;
}

.goals_goal {
    border: solid;
    border-radius: 10px;
    border-color: #24262a;

    background-color: #24262a;
    color: #84d1de;

    padding: 10px;
}

.goals_goal_completed {
    border: solid;
    border-radius: 10px;
    border-color: #24262a;

    background-color: #24262a;
    color: #37e24e;

    padding: 10px;
}

.goals_progress {
    background-color: #24262a;
    margin-top: 10px;
    width: 100%;
    border: solid;
    border-radius: 20px;
    border-color: #323436;

}

.goals_progress::-webkit-progress-bar {
    background-color: #323436;

}

.goals_progress::-webkit-progress-value {
    background-color: #84d1de;
    border: solid;
    border-radius: 20px;
}

.goals_progress_completed {
    background-color: #24262a;
    margin-top: 10px;
    width: 100%;
    border: solid;
    border-radius: 20px;
    border-color: #323436;

}

.goals_progress_completed::-webkit-progress-bar {
    background-color: #323436;

}

.goals_progress_completed::-webkit-progress-value {
    background-color: #37e24e;
    border: solid;
    border-radius: 20px;
}