.habits {
    width: 100%;
}

.habits_bar{
    border: solid;
    border-radius: 10px;
    border-color: #24262a;

    padding: 10px;

    background-color: #24262a;
    color: #84d1de;

    align-content: center;
    max-height: 50px;
}

#habits_bar_text {
    margin: 0px;
    font-size: 1.5em;
    font-weight: bold;
}