body {
  font-family: 'Roboto', sans-serif;

  background-color: #1f2226;
  color: #1f2226;

  padding: 0;
  margin: 10px;
}

button {
  font-family: 'Roboto', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;

  margin: 0px;
  padding: 10px 0px 10px;
}

.main {
  padding: 0px 0px 60px 20px;
  margin: 10px;
  color: White;

  display: flex;
  flex: auto;
  min-height: 700px;
}