.footer {
    margin: 0px;
    padding: 10px;
  
    background-color: #24262a;
    color: #84d1de;
  
  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
    border: solid;
    border-radius: 10px;
    border-color: #24262a;
  }
  
  