.sidebar {
    min-width: 100px;
    flex-direction: column;
    margin-top: 10px;
    height: calc(100% - 20px);
    padding: 0px 10px;
    
    justify-content: center;
  
    background-color: #24262a;
    color: #84d1de;
  
    border: solid;
    border-radius: 10px;
    border-color: #24262a;
  }
  
  .sidebar_button{
    padding: 10px;
    margin-top: 10px;
  
    display: grid;
  
    width: 110px;
  
    border: solid;
    border-radius: 30px;
  
    background-color: #84d1de;
    color: #24262a;
  
    text-align: center;
    font-weight: bold;
    font-size: 14px;
  
    cursor: pointer;
  }
  
  .sidebar_img{
    justify-self: center;
    margin-bottom: 10px;
  }